# Virat Kohli : Batting Analysis (2008-2018):
**Virat Kohli** is an Indian cricketer. He was born in Delhi, India on November 5, 1988. Virat is the first player in ICC cricket history to win all 3 ICC awards in a single year- ICC ODI player of the year, ICC Test player of the year and ICC Player of the year award in 2018.

<img src="https://images.thequint.com/thequint%2F2018-01%2F5d369107-8477-4216-a39d-ad806e1d3a0c%2FVirat-century.jpg?rect=0%2C0%2C4650%2C2616&auto=format%2Ccompress&fmt=webp&w=700&dpr=1.0.jpg" width="500" height="500" />

**Born**: November 5, 1988, Delhi, India

**Team**: India national cricket team

**Sport**: Cricket

**Nationality**: India

**Data Dictionary**
1. RunsScored : Number of Runs scored by Kohli in the match.
2. BallsFaced : Number of Balls Faces by Kohli in the match.
3. BattingPosition : Batting position is Virat Kohli's position on the batting order.
4. Dismissal : How Kohli got out in the match or not out. Caught, NO: Not Out, Bowled, Run out, LBW, Stumped, Hit wicket.
5. Inning : An innings is one of the divisions of a match during which one team takes its turn to bat. Two 1st inning or 2nd inning.
6. Opposition : Name of the Opposition team.
7. Year : Year in which the match was played.

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns 
from warnings import filterwarnings
filterwarnings("ignore")

In [7]:
# Read Bastman details file
mydata = pd.read_csv('Batsman.csv')

In [11]:
# View first 5 rows
mydata.head(10)

,RunsScored,BallsFaced,BattingPosition,Dismissal,Inning,Opposition,Year
0,12,22,2,LBW,1,Sri Lanka,2008
1,37,67,2,Caught,2,Sri Lanka,2008
2,25,38,1,Run out,1,Sri Lanka,2008
3,54,66,1,Bowled,1,Sri Lanka,2008
4,31,46,1,LBW,2,Sri Lanka,2008
5,2,2,7,NO,1,Sri Lanka,2009
6,16,24,4,Caught,2,Pakistan,2009
7,79,104,4,NO,2,West Indies,2009
8,30,41,4,Caught,2,Australia,2009
9,10,16,3,Caught,2,Australia,2009

In [17]:
mydata.tail(10)

,RunsScored,BallsFaced,BattingPosition,Dismissal,Inning,Opposition,Year
198,36,54,3,Run out,1,South Africa,2018
199,129,96,3,NO,2,South Africa,2018
200,75,82,3,Stumped,2,England,2018
201,45,56,3,LBW,2,England,2018
202,71,72,3,Bowled,1,England,2018
203,140,107,3,Stumped,2,West Indies,2018
204,157,129,3,NO,1,West Indies,2018
205,107,119,3,Bowled,2,West Indies,2018
206,16,17,3,Caught,1,West Indies,2018
207,33,29,3,NO,2,West Indies,2018

In [23]:
print("the number of rows is ",mydata.shape[0])
print("the number of columns is ",mydata.shape[1])

the number of rows is  208
the number of columns is  7

In [ ]:
# the data is successfully loaded and it can be observed that this data contains 
# Virat batting Scores based on Inning, Country (here Oppostion) and year. 
# It also shows his batting positions along with how many balls he faced.

Now , Understanding the shape of the dataset is also important

Let us now check the dimensions of the dataset by using the shape attribute.

The shape attribute will help us to get the number of rows and columns of the dataset.
Knowing the dimensions of the dataframe will help us to understand the number of data points we are working with 
and proves to be beneficial especially when the dataset is a large one (consisting of a large number of rows and columns).

In [ ]:
#Shape of the data
mydata.shape

Now we are aware of the shape of the dataframe. Let us now have a look at the types of data that we are working with.

The ***info()*** function will help us to understand the data types of the columns.

**Understanding data types ensures that data is stored in the preferred format and the value of each property is as expected.**

In [24]:
#Checking Info
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RunsScored       208 non-null    int64
 1   BallsFaced       208 non-null    int64
 2   BattingPosition  208 non-null    int64
 3   Dismissal        208 non-null    object
 4   Inning           208 non-null    int64
 5   Opposition       208 non-null    object
 6   Year             208 non-null    int64
dtypes: int64(5), object(2)
memory usage: 11.5+ KB

In [ ]:
# we can see here 5 columns are numeric (RunScored, BallsFaced, BattlingPosition, Inning and Year)
# whereas dismissal and Oppsition are categorical type

In [ ]:
mydata.info()

In [ ]:
# Now, year is not an integer

In [35]:
# Show just column names as a dataframe
mydata[:0]

Empty DataFrame
Columns: [RunsScored, BallsFaced, BattingPosition, Dismissal, Inning, Opposition, Year]
Index: []

In [29]:
mydata.isnull().sum()

RunsScored         0
BallsFaced         0
BattingPosition    0
Dismissal          0
Inning             0
Opposition         0
Year               0
dtype: int64

In [33]:
mydata.columns

Index(['RunsScored', 'BallsFaced', 'BattingPosition', 'Dismissal', 'Inning',
       'Opposition', 'Year'],
      dtype='object')

In [ ]:
# Now, before attempting the questions, it is important to understand statistical summary of the data. 
# Getting the statistical summary for the user dataset

# The describe() function will help us in finding out the statistical summary.

# The statistical summary will give us a overview of the numerical columns of the data and 
# display various features like the minimum, maximum, mean, standard deviation, etc. of the columns. 
# This will help us to understand the distribution of the values present in the numerical columns.

# What each term represents and how we can make analysis will be taught in next module (Statistical Methods of Decision Making)

In [37]:
mydata.describe().T

,count,mean,std,min,25%,50%,75%,max
RunsScored,208.0,49.192308,43.797641,0.0,10.75,35.0,81.25,183.0
BallsFaced,208.0,52.961538,39.850548,0.0,18.00,46.5,83.25,159.0
BattingPosition,208.0,3.264423,0.781602,1.0,3.00,3.0,3.00,7.0
Inning,208.0,1.567308,0.496644,1.0,1.00,2.0,2.00,2.0
Year,208.0,2013.240385,2.750477,2008.0,2011.00,2013.0,2015.00,2018.0

In [41]:
mydata.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
RunsScored,208.0,NaN,NaN,NaN,49.192308,43.797641,0.0,10.75,35.0,81.25,183.0
BallsFaced,208.0,NaN,NaN,NaN,52.961538,39.850548,0.0,18.0,46.5,83.25,159.0
BattingPosition,208.0,NaN,NaN,NaN,3.264423,0.781602,1.0,3.0,3.0,3.0,7.0
Dismissal,208,7,Caught,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Inning,208.0,NaN,NaN,NaN,1.567308,0.496644,1.0,1.0,2.0,2.0,2.0
Opposition,208,12,Sri Lanka,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year,208.0,NaN,NaN,NaN,2013.240385,2.750477,2008.0,2011.0,2013.0,2015.0,2018.0

In [44]:
mydata['Dismissal'].unique()

array(['LBW', 'Caught', 'Run out', 'Bowled', 'NO', 'Stumped',
       'Hit wicket'], dtype=object)

In [46]:
# Here, some basic insights which we can get are that Virat Highest score is 183 and lowest 0.
# Virat has played 7 Battling positions
# On an average Virat scored 49 from year 2008 to 2018.

In [47]:
mydata['Opposition'].value_counts()

Opposition
Sri Lanka       45
West Indies     32
England         29
Australia       26
South Africa    24
New Zealand     19
Pakistan        12
Bangladesh      11
Zimbabwe         6
Ireland          2
Netherlands      1
U.A.E.           1
Name: count, dtype: int64

## Q 1. Against which opposition Virat has scored maximum Runs. Also, show the average score against each opposition.

In [48]:
mydata.groupby(['Opposition'])['RunsScored'].sum().sort_values(ascending=False)

Opposition
Australia       1182
Bangladesh       654
England         1112
Ireland           78
Netherlands       12
New Zealand     1154
Pakistan         459
South Africa    1269
Sri Lanka       2186
U.A.E.            33
West Indies     1840
Zimbabwe         253
Name: RunsScored, dtype: int64

In [ ]:
# Virat has scored maximum runs while playing with Sri Lanka, however minimum scores when played with Netherlands

In [50]:
#Average
mydata.groupby(['Opposition'])['RunsScored'].mean().sort_values(ascending=False)

Opposition
New Zealand     60.736842
Bangladesh      59.454545
West Indies     57.500000
South Africa    52.875000
Sri Lanka       48.577778
Australia       45.461538
Zimbabwe        42.166667
Ireland         39.000000
England         38.344828
Pakistan        38.250000
U.A.E.          33.000000
Netherlands     12.000000
Name: RunsScored, dtype: float64

In [49]:
# median
mydata.groupby(['Opposition'])['RunsScored'].median().sort_values(ascending=False)

Opposition
Bangladesh      66.0
New Zealand     64.0
West Indies     46.0
South Africa    41.0
Ireland         39.0
Sri Lanka       37.0
England         35.0
U.A.E.          33.0
Australia       29.0
Zimbabwe        28.0
Pakistan        12.5
Netherlands     12.0
Name: RunsScored, dtype: float64

## Q 2. In which year, Virat has scored maximum Runs.

In [ ]:
mydata.groupby(["Year"])["RunsScored"].sum().sort_values(asscending=False)

In [ ]:
# Virat Scored maximum in year 2017 and Minimum in 2008.

## Q 3. In which year, Virat has scored maximum Runs with which Opposition?

In [51]:
mydata.groupby(["Opposition"],"Year")["runsScored"].max().sort_values(asseding=False)

ValueError: No axis named Year for object type DataFrame

## OR

In [ ]:
# Virat scored highest Runs in 2012 against Sri Lanka i.e. 695

## Q 4. In how many matches Virat was not out. (Consider Dismissal column here).

In [63]:
mydata["Dismissal"].value_counts()[1]

37

In [ ]:
# Virat was not out in 37 matches

## Q 5. Find the number of times when kohli scored less than or equal to 7 runs?

In [65]:
mydata[mydata["RunsScored"]<=7].count()[0]

40

## Q 6. With how many countries Virat has played matches. Consider the country only once. Name them.

In [66]:
mydata["Opposition"].unique()

array(['Sri Lanka', 'Pakistan', 'West Indies', 'Australia', 'Bangladesh',
       'South Africa', 'Zimbabwe', 'New Zealand', 'England', 'Ireland',
       'Netherlands', 'U.A.E.'], dtype=object)

## Q7. Which countries are top competitors of India ? Show top 5.

In [70]:
mydata.groupby(["Opposition"])["RunsScored"].sum().sort_values().head()

Opposition
Netherlands     12
U.A.E.          33
Ireland         78
Zimbabwe       253
Pakistan       459
Name: RunsScored, dtype: int64

In [ ]:
# This question is similar to Q 1.

## Q 8. Compare the runs scored by Kohli in 1st innings vs the 2nd innings.

## Q 9. Which opposition has Kohli scored most runs against? Find the median score against different oppositions?

### Another way

## Q 10. What do you think how Kohli got out in most number of matches, show complete data about each Dismissal based on Inning?

The most number of times Kohli has got out is by getting caught.

<img src="https://imgk.timesnownews.com/story/Zampa_Kohli.png?tr=w-600,h-450,fo-auto" width="500" height="200" />

 Apart from that he seems to stay not out for most of the innings and looks like it is hard to get him out by other ways apart from being caught.

##  Pre and Post transformation comparison

**It is well known that Kohli started taking fitness much more seriously post an ordinary IPL in 2012. He changed his training regime and eating habits completely, realising the need to transform his body to survive the rigours of playing all three formats.**

<img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSskALcVu6o9iI-7Q_rsehBkQ4PpDN6IAjWwA&usqp=CAU" width="500" height="500" />

**Kohli says it was the absence of fear or respect for him in the opposition's eye that has forced him to change his work ethic
Kohli revealed how working on his fitness has lifted his game after coming back from the Australian tour in 2012
While he considers his idol Tendulkar's skills as a cricketer in a different league, his is a case of pure hard work**

In [ ]:
# let's fetch the data post transform 
mydata['post_transform'] = mydata["Year"]>2012
mydata

## Q 11. Compare the runs Scored before and after transformation

In [ ]:
# Here, we can see a drastic change in his performance.
# We can see clearly see post transformation, he has scored more runs

## Q 12. Compare the Balls Faced before and after transformation

## Q 13. Compare the runs Scored before and after transformation as innings(innings wise)

**Clearly, Kohli was good at chasing as compared to batting first, prior he went through the transformation. But post transformation, he has significantly improved his run scoring ability batting first.**

## Q 14. Compare the dismissal patterns before and after transformation.

The average score before getting stumped and bowled has drastically improved post transformation. Average runs scored before 'Run Out' has also improved.

## Q 15. Which batting position has helped Virat score highest Runs.

## Summary: Virat has been an outstanding perform post his transformation. If we talk about his best batting position it is 3. VK has scored more than 1000 runs till 2018. 
## We will see these results by visualization in next mentor learning session